@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

.swiper-pagination-bullet {
  background-color: #000 !important;
  opacity: 0.6; 
  width: 12px;
  height: 12px;
  transition: opacity 0.3s;
  
}

.swiper-pagination-bullet-active {
  opacity: 1; 
}


@keyframes tossUp {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  50% {
    opacity: 1;
    transform: translateY(-30px); 
  }
  100% {
    transform: translateY(0);
  }
}

.animate-toss-up {
  animation: tossUp 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  animation-fill-mode: forwards; 

}


.dropdown-menu {
    display: none;
  }

  .pages-hover:hover .dropdown-menu,
  .dropdown-menu:hover {
    display: block;
  }


  .about-item:hover .about-submenu {
    display: block;
  }


  .contact-item:hover .contact-submenu {
    display: block;
  }


  .pages-hover:hover a {
    color: #cea384;
  }

  .about-item:hover {
    color: #cea384;
  }

  .contact-item:hover {
    color: #cea384;
  }

  
  
  .swiper-pagination {
    display: none;
  }


.new-arrivals-container .swiper-button-next,
.new-arrivals-container .swiper-button-prev {
  background-color: white !important;
  color: black !important;
  border-radius: 50%;
  width: 40px; 
  height: 40px; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(100%); 
  cursor: pointer;
  z-index: 10;
  opacity: 1 !important;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.new-arrivals-container .swiper-button-next {
  right: 10px;
  z-index: 10;
}

.new-arrivals-container .swiper-button-prev {
  left: 10px;
  z-index: 10;
}


.new-arrivals-container .swiper-button-next::after,
.new-arrivals-container .swiper-button-prev::after {
  font-size: 20px;
  color: black !important;
  transition: color 0.3s ease; 
}


.new-arrivals-container .swiper-button-next:hover,
.new-arrivals-container .swiper-button-prev:hover {
  background-color: #cea384 !important;
  color: white !important;
}

.new-arrivals-container .swiper-button-next:hover::after,
.new-arrivals-container .swiper-button-prev:hover::after {
  color: white !important;
}



@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.5s ease-in-out;
}



